# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.vscode/*
*.code-workspace
# NHƯNG giữ lại các file cấu hình chung để cả team xài chung (Bỏ chặn)
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/coverage/

# Web-specific & Cache
.web/
.dart_tool/web/
.dart_tool/dartpad/

# FVM (Flutter Version Management) - Rất hay dùng khi làm team
.fvm/flutter_sdk

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release


.env*
**/supabase/.temp/
**/supabase/.branches/
**/supabase/storage/
**/supabase/.env
**/supabase/pooler/

# DevTools config
devtools_options.yaml

firebase-debug.log
firebase-debug.*.log
.firebase/
